version: '3.8'

services:
  # Run the migration service to apply postgresql database migrations
  postgresql_migration:
    build: .
    command: postgresql_migrate
    networks: 
      - my-shared-network
  
  # Run the migration service to apply mongodb database migrations
  mongodb_migration:
    build: .
    command: mongodb_migrate
    networks: 
      - my-shared-network

  # Run the storage setup service to initialize storage (e.g., create buckets)
  storage_setup:
    build: .
    command: init_storage
    networks:
      - my-shared-network

  # Run the API service
  api:
    build: .
    command: api
    ports:
      - "1899:1899"
    networks:
      - my-shared-network
    depends_on:
      postgresql_migration:
        condition: service_completed_successfully
      mongodb_migration:
        condition: service_completed_successfully
      storage_setup:
        condition: service_completed_successfully

  # Run the worker service for processing other tasks using RabbitMQ
  webhook_worker:
    build: .
    command: rabbit_worker --queue webhook_tasks
    restart: always
    # deploy:
    #   replicas: 2
    networks:
      - my-shared-network
    depends_on:
      postgresql_migration:
        condition: service_completed_successfully
      mongodb_migration:
        condition: service_completed_successfully
      storage_setup:
        condition: service_completed_successfully

  # Run the worker service for processing OTP tasks using Redis
  otp_worker:
    build: .
    command: redis_worker --queue otp_tasks
    restart: always
    networks:
      - my-shared-network
    depends_on:
      postgresql_migration:
        condition: service_completed_successfully
      mongodb_migration:
        condition: service_completed_successfully
      storage_setup:
        condition: service_completed_successfully

# Definisikan network di level atas
networks:
  my-shared-network:
    # Beri tahu Docker Compose bahwa network ini sudah ada
    external: true
    # Ganti 'nama-network-anda' dengan nama network yang sebenarnya
    name: gnusa